@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

body{
	background-color: #ddc8b7;
	font-family : 'Orbit', Time, serif;
}

#header{
	background-color: #c9a88d;
	margin: 10px;
	height: 110px;
	text-align: center;
}

#main{
	background: #efe5dd url("../img/background.gif") top left;
	font-size: 105%;
	padding: 15px;
	margin: 0px 10px 10px;
}

#footer{
	background: #c9a88d;
	color:#efe5dd;
	text-align: center;
	padding: 15px;
	margin: 10px;
	font-size: 90%;
}

#sidebar{
	background: #efe5dd url("../img/background.gif") top left;
	font-size: 105%;
	padding: 15px;
	margin: 0px 10px 10px;
}

.heading{
	text-align: center;
	line-height: 1.8em;
}
.slogan{
	color: #954b4b;
}

h1{
	font-size: 120%;
	color: #954b4b;
}

a:visited {
	color: #7b6666;
	text-decoration: none;
	border-bottom: thin dotted #7b6666;
}

a:link {
	color: #676767;
	text-decoration: none;
	border-bottom: thin dotted #676767;
}